
  :root {
    --primary-color: #1b3044;
    --secondary-color: #885df1;
    --default-font-family: "Poppins", sans-serif;
  }
  
  body {
    font-family: var(--default-font-family);
    background: #272044;
  }
  
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
  
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("images/edinburgh-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 200px 0;
  }
  
  h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;}
  header h1 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;  }
  
  header h2 {
    font-size: 40px;
    margin: 0;
  }
  
  header h3 {
    font-size: 24px;
    margin: 0;
  }
  
  .btn {
    display: inline-block;
    padding: 16px 32px;
    background: white;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 32px;
    border-radius: 4px;
  }
  
  section {
    padding: 100px;
  }
  
  .grid {
    display: grid;
    grid-gap: 64px;
  }
  
  .grid-2-columns {
    grid-template-columns: 1fr 1fr;
  }
  
  .img-responsive {
    max-width: 100%;
    display: block;
  }
  
  main {
    background: white;
  }
  
  main h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: var(--secondary-color);
  }
  
  main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: var(--primary-color);
    margin: 0;
  }
  
  main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-color);
    opacity: 0.7;
  }
  .secondary {
    background: #f8f8f8;
    padding: 100px 0;
  }
  
  .text-center {
    text-align: center;
  }
  
  .grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .card {
    background: white;
    margin: 30px 0;
  }
  
  .card-header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 30px;
  }
  
  .card-footer {
    padding: 0 30px 30px;
  }
  
  .card h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--primary-color);
    margin: 0;
  }
  
  .card h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--primary-color);
    margin: 20px 0 0;
  }
  
  .card p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-color);
    opacity: 0.7;
    margin: 0;
  }
  
  .card ul {
    padding: 0;
    margin: 0;
  }
  
  .card li {
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-color);
    opacity: 0.7;
    margin-left: 20px;
  }

  footer {
    color: white;
    background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("images/edinburgh-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  
  footer p {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    margin-right: 20px;
    line-height: 24px;
  }
  
  .grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;
  }